body.dark {
  background-color: $fg;
  color: $bg;

  #theme-toggle {
    color: $bg;
  }

  hr {
    border-color: $bg
  }

  header img {
    filter: invert(1);
  }

  th, td {
    border: 1px solid $gray-5;
  }
  
  tr:nth-child(even) {
    background-color: $gray-3;
  }

  a[href*="http"]:after {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' stroke-linecap='round' stroke-linejoin='round' fill='none' stroke='#{encodecolor($bg)}' stroke-width='2'%3E%3Cpath d='M18 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6'/%3E%3Cpolyline points='15 3 21 3 21 9'/%3E%3Cline x1='10' y1='14' x2='21' y2='3'/%3E%3C/svg%3E");
  }
}

/* Show-hide mode logo */
body .toggle-dark {
  display: block;
}

body .toggle-light {
  display: none;
}

body.dark .toggle-light {
  display: block;
}

body.dark .toggle-dark {
  display: none;
}
