/* Colors */
$bg: #f3f3f3;
$fg: #282828;
$link: #cc241d;
$link-visited: #cc241d;

$gray-2: #222;
$gray-3: #333;
$gray-5: #555;

/* Dimensions */
$body-max-width: 80ch;

$img-max-width: 90vw;
$img-max-height: 90vh;

$root-font-size: 14pt;
/* Fonts https://github.com/system-fonts/modern-font-stacks */
$main-font: Charter, 'Bitstream Charter', 'Sitka Text', Cambria, serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
$code-font: ui-monospace, 'Cascadia Code', 'Source Code Pro', Menlo, Consolas, 'DejaVu Sans Mono', monospace;
