/* Colors */
$bg: #f3f3f3;
$fg: #242424;
$link: crimson;
$link-visited: rgb(173, 20, 50);

$gray-2: #222;
$gray-3: #333;
$gray-5: #555;

/* Dimensions */
$body-max-width: 80ch;

$img-max-width: 90vw;
$img-max-height: 90vh;

/* Fonts */
$root-font-size: 12pt;
$main-font: "Times New Roman", Times, serif;
