:root {
  font-size: min(max(1.3rem, 4vw), 18px);
  line-height: 1.2;
  --background-color: #f3f3f3;
  --main-text-color: #242424;

  --link-color: crimson;
  --link-color-visited: rgb(173, 20, 50);
}

* {
  box-sizing: border-box;
}

html {
  /* border-radius: 2px; */
}

body {
  max-width: 60ch;
  margin: 0 auto;
  border: 1px solid crimson;
  font-family: "Times New Roman", Times, serif;
  padding: 1rem;
  color: var(--main-text-color);
}

/* Ensure HTML5 elements look right in older browsers */
article,
aside,
footer,
header,
nav,
section,
figure,
picture {
  display: block;
}

.header-logo {
  width: 4rem;
  height: auto;
  margin: 0 auto;
}

/* Structure */
body > section {
  margin-bottom: 8rem;
  min-height: 12rem;
}
body > section:last-of-type {
  margin-bottom: 0;
  min-height: initial;
}

/* Links */

a {
  color: var(--link-color);
}

a:visited,
a:hover {
  color: var(--link-color-visited);
}

a[href*="http"] {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' stroke-linecap='round' stroke-linejoin='round' fill='none' stroke='black' stroke-width='2'%3E%3Cpath d='M18 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6'/%3E%3Cpolyline points='15 3 21 3 21 9'/%3E%3Cline x1='10' y1='14' x2='21' y2='3'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: auto 0.75em; /* 0.625em 0.625em; */
  background-position: right center;
  padding-right: 0.9em;
}

/* Images */

picture {
  margin: 8rem 0;
}

picture:first-of-type {
  margin-top: 2rem;
}

img {
  width: 100%;
  height: auto;
}
