<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Nicolas Epstein</title>
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
  {% block rss %}
  <link rel="alternate" type="application/atom+xml" title="swqxl.dev blog" href="/atom.xml">
  {% endblock %}
  <link rel="stylesheet" href="{{ get_url(path="main.css") | safe }}">
  <!--[if lt IE 9]>
      <script>
        document.createElement("article");
        document.createElement("aside");
        document.createElement("footer");
        document.createElement("header");
        ocument.createElement("nav");
        document.createElement("section");
        document.createElement("time");
      </script>
    <![endif]-->
</head>

<body>
  <header>
    <div class="header-logo"><a href="/"><img src="/daduck-bw.png" alt="a drawing of a duck"></a></div>
  </header>
  <nav>
    <ul>
      <li>
        <a href="/">Home</a>
      </li>
      <li>
        <a href="/blog/">Blog</a>
      </li>
      <li>
        <a href="/cv/">CV</a>
      </li>
      <li>
        <a href="/art/">Art</a>
      </li>
      <li>
        <a href="/contact/">Contact</a>
      </li>
      <li>
        <button id="theme-toggle" type="button" aria-label="toggle theme">
          <span class="toggle-dark"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"
              fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
              class="feather feather-moon">
              <path d="M21 12.79A9 9 0 1 1 11.21 3 7 7 0 0 0 21 12.79z"></path>
            </svg></span>
          <span class="toggle-light"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"
              fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
              class="feather feather-sun">
              <circle cx="12" cy="12" r="5"></circle>
              <line x1="12" y1="1" x2="12" y2="3"></line>
              <line x1="12" y1="21" x2="12" y2="23"></line>
              <line x1="4.22" y1="4.22" x2="5.64" y2="5.64"></line>
              <line x1="18.36" y1="18.36" x2="19.78" y2="19.78"></line>
              <line x1="1" y1="12" x2="3" y2="12"></line>
              <line x1="21" y1="12" x2="23" y2="12"></line>
              <line x1="4.22" y1="19.78" x2="5.64" y2="18.36"></line>
              <line x1="18.36" y1="5.64" x2="19.78" y2="4.22"></line>
            </svg></span>
        </button>
      </li>
    </ul>
  </nav>
  <hr>
  <article>
    {% block content %} {% endblock %}
  </article>
  <script type="text/javascript" src="{{ get_url(path="js/main.js") | safe }}" defer></script>
</body>

</html>
