<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="index.css">
  <link rel="icon" href="/favicon.ico">
  <title>nilueps.net</title>
  <!--[if lt IE 9]>
      <script>
        document.createElement("article");
        document.createElement("aside");
        document.createElement("footer");
        document.createElement("header");
        ocument.createElement("nav");
        document.createElement("section");
        document.createElement("time");
      </script>
    <![endif]-->
</head>

<body>
  <header>
    <div class="header-logo"><img src="logo.png" alt="a drawing of a duck"></div>
    <p>👋🏻 Hi, my name is Nicolas Lucino Epstein. Welcome to my personal webpage.</p>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li>
          <a href="/blog/">Blog</a>
        </li>
        <li>
          <a href="#code">Code</a>
          <ul>
            <li>
              <a href="#code-projects">Projects</a>
            </li>
            <li>
              <a href="#code-experiments">Experiments</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="#art">Art</a>
          <ul>
            <li>
              <a href="#art-paintings">Paintings</a>
            </li>
            <li>
              <a href="#art-drawings">Drawings</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="#contact">Contact</a>
        </li>
      </ul>
    </nav>
  </header>
  <hr>
  {% block content %} {% endblock %}
</body>

</html>