{% extends "base.html" %}

{% block content %}
<p class="headline">👋 Hi, my name is Nicolas Epstein.<br> Welcome to my personal webpage.</p>
<p style="text-align: center">
 <a href="https://www.github.com/nilueps/">GitHub</a> <a href="https://www.linkedin.com/in/nilueps/">LinkedIn</a>
</p>
<hr>
<h1>Latest Blog Post</h1>
{% set blog = get_section(path="blog/_index.md") %}
{% set latest = blog.pages[0] %}
<h2>{{ latest.title }}</h2>
<p><em>{{ latest.date }}</em></p>
{{ latest.content | safe }}
<p style="text-align: right"><a href="/blog/">>>> older posts</a></p>
{% endblock content %}
